extends layout

block content
    h1 Dear #{title}
    p #{message}
    //button(onclick="move()") Login
    //script.
    //    function move() {
    //        window.location.href = `${login}`
    //    }